html,
body {
  padding: 0;
  font-size: 28px;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Manrope", sans-serif;
  background-color:  hsl(218, 23%, 16%);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
h5 {
  color: hsl(150, 100%, 66%);
  margin:auto;
  margin-top: 30px;
  margin-bottom: 10px;
}
.card {
  padding: 20px;
  color: hsl(193, 38%, 86%);
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 100px;
  width: 600px;
  height: 400px;
  background-color: hsl(217, 19%, 24%);
  border-radius: 10px;
  flex-direction: column;
  align-items: stretch;
}
.advice{
  text-align: center;
  height: 100px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.number{
  text-align: center;
  margin-bottom: 10px;
}

.kreska {
  margin-bottom: 10px;
  position: block;
  display: flex;
  justify-content: center;
  margin: auto;
}
.button {
  display: flex;
  justify-content: center;
  margin:auto;
  margin-top: -30px;

}
button {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: none;
  background-color: hsl(150, 100%, 66%);
}
button:hover {
  /* -webkit-box-shadow: 0px 0px 39px 32px rgba(66, 68, 90, 1);
-moz-box-shadow: 0px 0px 39px 32px rgba(66, 68, 90, 1); */
  box-shadow: 0px 0px 39px 10px hsl(150, 100%, 66%);
}
